:root {
  --input-border: 1px solid #cbcbcb;
}

.modalGreyBackground {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalGreyBackgroundNone {
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalWindow {
  width: 40%;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.modalWindowForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputTaskName {
  border-radius: 10px;
  border: var(--input-border);
  padding: 5px;
  outline: none;
}

.selectTaskPriority {
  width: auto;
  display: flex;
  gap: 20px;
}

.selectTaskPriorityOption {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.textAreaTaskDescription {
  height: 100px;
  border-radius: 10px;
  border: var(--input-border);
  padding: 5px;
  outline: none;
  resize: none;
}

.modalWindowButtons {
  display: flex;
  gap: 15px;
}

.addTaskButton {
  background-color: rgb(81, 3, 154);
  color: azure;
  padding: 15px;
  border: none;
  border-radius: 15px;
}

.addTaskButton:hover {
  cursor: pointer;
  background-color: rgb(72, 2, 138);
}

.cancelButton {
  background-color: rgb(81, 3, 154);
  color: azure;
  padding: 15px;
  border: none;
  border-radius: 15px;
}

.cancelButton:hover {
  cursor: pointer;
  background-color: rgb(72, 2, 138);
}
